
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    margin-left: 10px;
}

.align-top {
    padding-top: 20px;
}

.tabs .indicator {
    background-color: #bbdefb !important;
}

.padding-valor-total {
    padding-top: 15px !important;
}
